.darling {
    width: auto;
    height: 200px;;
}
.your {
    width: auto;
    height: 200px;;
}
.kaguya-sama {
    width: auto;
    height: 200px;;
}
.spyxfamily {
    width: auto;
    height: 200px;
}